# {{ ansible_managed }}

unqualified-search-registries = {{ podman_unqualified_search_registries | to_json }}

{% for registry in podman_registries %}
[[registry]]
prefix = "{{ registry['prefix'] }}"

{% if registry['location'] is defined %}
location = "{{ registry['location'] }}"
{% endif %}

insecure = {{ (not registry['validate_certs'] | default('true')) | lower }}
blocked = {{ (registry['blocked'] | default('false')) | lower }}

{% endfor %}
